#body {
    min-width: 290px;
    background-color: #8fa6b2;
  }
  #navbar {
    background-color: #adff8c;
    position: fixed;
    min-width: 290px;
    width: 300px;
    height: 100%;
    border-right: solid;
    color: #a290e7;
  }
  header {
    color: #d15e5d;
    margin: 10px;
    text-align: center;
    font-size: 30px;
  }
  
  #main-doc header {
    text-align: center;
    color: #19912c;
    margin: 0px;
  }
  #main-doc p {
    color: #283129;
    margin: 0px;
  }
  
  #navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  #navbar li {
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
  }
  
  #navbar a {
    display: block;
    padding: 10px 30px;
    color: #1f47a3;
  }
  
  #main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
  }
  
  section article {
    color: black;
    margin: 15px;
    font-size: 0.96em;
  }
  
  section li {
    margin: 15px 0px 0px 20px;
  }
  
  code {
    display: block;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    background-color: #ffff8c;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
  }
  
  @media only screen and (max-width: 815px) {
    #navbar ul {
      border: 1px solid;
      height: 207px;
    }
  
    #navbar {
      background-color: #adff8c;
      position: absolute;
      top: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      max-height: 275px;
      border: none;
      z-index: 1;
      border-bottom: 2px solid;
    }
  
    #main-doc {
      position: relative;
      margin-left: 0px;
      margin-top: 270px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    #main-doc {
      margin-left: -10px;
    }
  
    code {
      margin-left: -20px;
      width: 100%;
      padding: 15px;
      padding-left: 10px;
      padding-right: 45px;
      min-width: 233px;
    }
  }
  